<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" [attr.data-slide-to]="i" [ngClass]="{'active':i==0}" *ngFor="let item of items; let i = index"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="{'active':i==0}" *ngFor="let item of items; let i = index">
      <img class="first-slide" [src]="item.img" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>{{item.title}}</h1>
          <p>{{item.text}}</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Precedente</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Successivo</span>
  </a>
</div>
